/* xptmxm
테ㅡ트
테스트트트 */
img{
    height:200px;
    border: 2px solid yellow;
}
.aaa{

}
h1{
    width:300px;;
    border-bottom-style: dotted;
}
ul{
    color:blue; /* 목록의 글자색을 파란색으로 변경 */
    list-style-type: none;  /* 불릿의 형태를 없앰 */
    /* list-style-type: square; */
    padding:0px; /* 안쪽 여백을 없애기 */
}